<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    "
  >
    <table
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      align="center"
      width="600"
      style="
        margin: auto;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      "
    >
      <tr>
        <td style=" padding: 20px">
          <h3 style="color: #333333">Dear Shagufta Fatima</h3>
          <p style="color: #666666">Become a Full Stack Developer in 24 week. Learn from industry experts and get a chance to work in  top companies.</p>
          <p style="color: #666666">Apply now for the - <a href="#">Click here</a> </p>
          <p>Get your dream job in IT industry with CTC upto 12 LPA- <strong>Unlimited job Opportunities</strong> </p>
          <p>Get 3 Certification worth INR 35,000 for <strong>Free</strong>and avail <strong>scholarship worht INR 98,000</strong> </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
            <h2>Eligiblity:-</h2>
          <ul style="list-style: none; padding: 0">
            <li style="color: #333333; margin-bottom: 10px">
           A laptop/Desktop is mandatory to apply for the program.
            </li>
            <li style="color: #333333; margin-bottom: 10px">
            Student from all education background can apply.
            </li>
            <li style="color: #333333; margin-bottom: 10px">
              Anyone who wants to build a carrer in IT industry.
            </li>
          </ul>
        </td>
      </tr>
<tr>
    <td style="padding:20px ">
     <img src="flipshopes1.png" alt="">
    </td>
</tr>




      <tr>
        <td
          style="text-align: center; background-color: #eeeeee; padding: 20px"
        >
          <p style="color: #666666">
          Apply now fro free-
            <a href="#" style="color: #007bff; text-decoration: none"
              >click here</a
            >.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
